@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Bungee+Inline");

.container-fluid {
  min-height: 90vh;
}

footer {
  background-color: rgba(127,127,127,0.5);
  min-height: 10vh;
  padding: 1%;
  text-align: center;
  font-family: cursive, sans-serif;
}
